/* UIBot */
#uibot {
    width: 300px;
    font-size: 1em;
    font-family: monospace;
}

.uibot_component_container {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    margin: 0.1em;
}

.uibot_component_label {
    float: left;
    margin-right: 10;
}

/* Slider */
.uibot_range {
    width: 200px;
}

.uibot_range_row {

}

.uibot_range_label_min, .uibot_range_label_max {
    display: inline-block;
    font-size: 1em;
}

.uibot_range_label_min {
    margin-right: 5px;
}

.uibot_range_label_max {
    margin-left: 5px;
}

/* Select Menu */

.ui_bot_select_menu {

}

/* Text Input */
.uibot_text_input {

}

/* Button */
.uibot_button {
    width: 100%;
}

